{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>

{% block body %}
{# missing #}
<em>Profile</em> : {{ uid }}<br>
{% for i in range(0,5) %}
    profile :{{ i }}<br>
{% endfor %}
<br>
<br>
{% for color in colors -%}
{{ loop.index }}<br> color:{{ color }}<br>
{%- endfor %}

{% for key,value in dict.items() %}
<li>
<br> key:  {{ key }}<br>
{% if value >'2.00000' -%}
    value: {{ value }}<br>
{% else %}
    trash!
{%- endif %}
</li>
{%endfor%}

{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}
<p>{{ input('username') }}</p>
<p>{{ input('password', type='password') }}</p>


<br>
{% endblock %}
</body>
</html>